name: Continuous Integration and Delivery with GitHub Actions

on:
  push:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_ACCESS_TOKEN}}

    - name: Set up Java 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build Application .jar with Maven
      working-directory: ./Curso_Spring2025_28 #diretório do pom
      run: mvn clean package -DskipTests

    - name: Docker Compose Build
      #working-directory: ./diretorio do dockercompose.yml - não coloquei pois é a raiz... conferir
      run: docker compose build

    - name: Push to Docker Hub COntainer Registry
      run:
        docker tag ${{secrets.DOCKER_USERNAME}}/curso-spring2025:latest ${{secrets.DOCKER_USERNAME}}/curso-spring2025:${{github.run_id}}
        docker push ${{secrets.DOCKER_USERNAME}}/luizrd/curso-spring2025:latest
        docker push ${{secrets.DOCKER_USERNAME}}/luizrd/curso-spring2025:${{github.run_id}}



